<form action='portfolio/output'>
    이름:<input type='text' output name='message1'>
    
    <div>나이:<input type='text' output name='message2'></div>
    
   <div> 성별:<input type='text' output name='message3'></div>
    <input type='submit' value='입력'>
</form>    