<!DOCTYPE html>
<html>
<head>
<title>인하짱!</title>
</head>
<body background="https://i.pinimg.com/originals/cb/84/42/cb8442acc77304111e1500878e4da365.jpg">
<img src="http://mblogthumb1.phinf.naver.net/MjAxNzAxMTNfMTQy/MDAxNDg0MzE2NDMwOTg0.RGe04AcI9hizlZpkNRTrlZ-EIIZD2sRhZ1OxjznOvF0g.76A09WFdkX23PVoUsN6PEV-gf0Y3S0DtZcS7at3_4qgg.GIF.d_l96/12312ddd.gif?type=w800">
<h1>이름: <%= @abc %></h1>
<h1>나이: <%= @ab %></h1>
<h1>성별: <%= @a %></h1>
<%=image_tag('lion-3221778_640.png')%>
<hr/>

<ul>
<li><h2 style="color:darkorange">학력</h2>
                                <ul>
				<li><h3><a href="http://kwtb.gwe.es.kr/main.do">황지초등학교</a>졸 (하준혁군과 3학년때 같은 반)</h3></li>
				<li><h3><a href="https://namu.wiki/w/%ED%95%99%EC%84%B1%EC%A4%91%ED%95%99%EA%B5%90(%EC%9B%90%EC%A3%BC)">학성중학교</a> 졸</h3></li>
				<li><h3>원주고등학교 졸</h3></li>
				</ul>
</li>
<li><h2 style="color:darkorange">싫어하는 음식</h2>
				<ul>
				<li><h3>연근</h3></li>
				<li><h3>생강</h3><p style="color:red"><a href="http://www.10000recipe.com/recipe/5880303">생강쿠키</a>는 좋아함</p></li>
                                <li><h3>당근</h3><p style="color:red"><a href="https://www.inspiredtaste.net/wp-content/uploads/2017/07/Carrot-Cake-Recipe-4-1200.jpg">당근 케이크</a>는 좋아함</p></li>
				</ul>
</li>
<li><h2 style="color:darkorange">구현하고 싶은 써비쓰</h2>
                                <ul>
                                <li><h3>패션 SNS</h3>:사람들이 코디를 올리고 패션아이템 별로 링크를달아 통계를낸다. <div>코디는 평가되고 매일 시상이있다(보상은 사람들의 관심)</div>
<div>언제 어디서 어떤 옷을 몇명이 입고나왔는지 알수있을 것이다</div></li>
</li>
                                 <li><h3>꿈(장래희망이 아닌 수면때 꾸는)SNS</h3>:오늘 아침에 꾼 꿈이 민망하거나 마땅히 주변사람에게 들려줄 수 없을 때, 이 페이지에 익명으로 글을올린다.
                                 <div>꿈 내속 키워드를 태깅하여 비슷한 꿈을 꾼 사람들의 하루는 어땠나? 비교할 수 도있고 유저들끼리 해몽을해줄수도있다</div>
                                 <div>꿈을 팔 수도있다 (재미로)</div>                                  


                                 </li>
<li><h3>하루한장</h3>:하루 한장의 내 얼굴사진을 찍는다. 특정 위치에 눈 코 입을 맞추어 찍고, 하루 하루 사진들을 모아 동영상으로 만들어준다.
<div> 자신이 늙어가고 있다는 현실을 직시할 수있다. 동안대결! 노안대결! 같은 컨텐츠. 화장품효과검증등에 사용될 수도 있을까?</div> 
</li>

<li><h3>실험결과 사진 공유SNS</h3>: 다양한 실험이 존재하고 학습목적등 많이사용되는 실험이 있다. 그런 실험들의 결과 사진이 필요할때, 
<div>어떤 실험체로 실험한건가? 등의 실험조건등 각각 태그하여 사진을려 사람들이 쉽게 찾을수 있게한다.</div> 
            <div>누가사용하면 보상을받는다. 매우저렴하게 </li>

<li><h3>코골지마!</h3>:기존에 나와있는 데시벨을 측정하여 코를 고는지 알수있는앱에서 일정 데시벨이 넘어가면 잠깐의 휴대폰 진동으로 코골이를 깨워주는 앱, 
          <div>코 고는 본인은 잠은 제대로 잘 수 없겠지만 남들에게 피해주지 말아야할 때, 기숙사등, 단체로 자야할 때 사용가능 </div>





<br/>

<hr/>
<img src="https://i.pinimg.com/originals/a1/7c/c1/a17cc10c65943d6b1f319b72aa4aa1d5.gif">
<h2 style="color:blue">멋쟁이 사자 처럼 6기 화이팅<h2>


			
</body>
</html>